@charset "utf-8";
.CouponsList {
	padding:26px;
}
.CouponsList .L {
	margin-right:10px;
	border: 1px dashed #676767;
	position:relative;
	background:#9fd863;
}
.CouponsList .R {
	margin-left:10px;
	border: 1px dashed #676767;
	position:relative;
    background:#9fd863;
}
.Coupon {
	float:left;
	width:457px;
	margin-bottom:35px;
    cursor: pointer;
}
.Coupon .Header {
	font-size:14px;
	margin: 5px 2px 0px 2px;
	background:#ffffff;
	padding:0px 8px;
}
.Coupon .Name {
	float:left;
	margin-top: 6px;
	font-weight:bold; 
}
.Coupon .Name a, a:hover {
	color:#000099;
}
.Coupon .Price {
	float:right;
	font-size:23px;
	font-weight:bold;
}
.Coupon .Content {
	border-top-width:0px;
	position:relative;
}
.Coupon .RestLogo {
	position:absolute;
	bottom:35px;
	left:5px;
}
.Coupon .RestLogo img {
	width:80px;
	border:solid 1px #a3a3a3;
}
.Coupon .Description {
	padding: 10px 100px 5px 95px;
	height:84px;
	position:relative;
	background: #9fd863 url(../images/coupons_title_shadow.jpg) repeat-x;
}
.Coupon .Description .Text {
	text-align:left;
	font-size:12px;
	font-weight:bold;
}
.Coupon .Description .Menu {
	position:absolute;
	bottom:8px;
	right:2px;
}
.Coupon .Bottom {
	background:url(../images/res_bg_big.jpg) repeat-x;
	padding:7px 7px 4px 10px;
	font-weight:bold;
}
.Coupon .Bottom a, a:hover {
	color:#000000;
}
.scissors {
    bottom: -16px;
    position: absolute;
    right: 40px
}
.Closed{
    position:absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    background: url(/static/rest_website/images/closed.png) 0 0 no-repeat;
    z-index:100;
}
.ClosedName1{
    padding-left:46px;
}
