@charset "utf-8";

/* CSS Document */


body {
	margin: 0;
	padding: 0;
}
@media screen {

body {
	//background-Color: #ddd;
}
}
@media print {

.Print .Top,
.Print .Footer {
	display: none;
}
.Print{
	color: black;}
}
}

.clear {
	clear: both;
}

img {
	border: solid 0 black;
}

.Print {
	//width: 980px;
	//font-family: 'Open Sans Condensed', 'Trebuchet MS', Arial, sans-serif;
	font-family: arial, helvetica, sans serif;
	color: #2e1604;
	//background-Color: White;
	//border: solid 1px #acaaaa;
	//border-top: solid 0 #acaaaa;
	//background-image: url(http://eat24hours.com/static/v4/images/print.white.shadow.jpg);
	//background-repeat: no-repeat;
	//background-position: 0 72px;
}

.Top {
	width: 100%;
	text-align: right;
	position: relative;
	//border-bottom: solid 1px #ddd;
}

.Outer20Padding,
.Outer20PaddingContent {
	padding: 15px 35px;
}

.Outer20PaddingContent {
	padding-top: 0;
}

.Footer {
	position: relative;
	display: block;
	text-align: right;
	margin-top: 20px;
	//border-top: solid 1px #ddd;
	//background-image: url(http://eat24hours.com/static/v4/images/print.white.shadow.jpg);
	//background-repeat: no-repeat;
}

.OrderOnline {
	float: right;
}

a.BackToRestaurant {
	float: left;
	text-decoration: none;
	font-size: 15px;
	color: black;
	margin-top: 10px;
}

a.BackToRestaurant img {
	margin-right: 10px;
}

a.PrintLink {
	font-size: 7pt;
	color: black;
	font-weight: normal;
	display: inline-block;
	margin-left: 13px;
	text-decoration: none;
	position: relative;
	top: -5px;
}

a.PrintLink img {
	margin-right: 3px;
}

.Print .Content h1,
.Print .Content h2,
.Print .Content h3,
.Print .Content h4 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.Print .Content .Header {
	//width: 100%;
	padding-bottom: 5px;
	margin: 10px auto;
	//border-bottom: solid 2px #8f8c8c;
	text-align: center;
	position: relative;
}

.Print .Content .Header .Restaurant {
	font-size: 21pt;
	display: inline;
}

.Print .Content .Header .PhoneAndOrderOnline,
.Print .Content .Header .OrderOnlineTextLink {
	font-size: 11pt;
	font-weight: bold;
	color: black;
	margin-top: 10px;
}

.Print .Content .Header .HomeLink {
	display: block;
	width: 200px;
	height: 53px;
	float: right;
}

.Print .Content .Header .PhoneAndOrderOnline a {
	color: #c80203;
	text-decoration: underline;
}

.Print .Content .Header a.OrderOnlineTextLink {
	margin-left: 10px;
	color: black;
}

.EatLogo {
	position: relative;
}

.Header .EatLogo {
	float: right;
	padding-top: 50px;
}

.Footer .EatLogo {
	float: left;
}

.PoweredBy {
	font-size: 12px;
	color: #757575;
	text-align: left;
}

.Eat24 {
	font-size: 18pt;
	margin: 0;
}

.Print .Content .Data .Menu {
	padding-top: 10px;
	padding-bottom: 10px;
}

.Print .Content .Data {
	margin: 10px auto;
	width: 550px;
}

.Print .Content .Data .Menu .MType {
	font-size: 15pt;
	float: left;
}

.Print .Content .Data .Menu .ITypeImagesList {
	float: right;
}

.Print .Content .Data .Menu .ITypeImagesList img {
	margin: 3px;
}

.Print .Content .Data .Menu .ITypeImagesList span {
	text-transform: uppercase;
	font-size: 7pt;
	color: #56545d;
}

.Print .Content .Data .Menu .ItemsList .IType {
	background-Color: #ffe6a2;
	border-bottom: solid 1px #7e3c0c;
	font-size: 27px;
	margin-top: 5px;
	margin-bottom: 3px;
	padding: 5px 5px 5px 10px;
	display: block;
	color: #7e3c0c;
	clear: both;
	text-align: left;
	border-radius: 15px 0 15px 0;
	font-family: 'Arbutus Slab', Georgia, serif;
	text-transform: uppercase;	
}

.Print .Content .Data .Menu .ItemsList .IType small {
	font-weight: normal;
	font-size: 12px;
}

.Print .Content .Data .Menu .ItemsList .Item {
	width: 100%;
	margin: 3px;
	margin-left: 0;
	padding-bottom: 5px;
	border-bottom: solid 1px #e5955a;
	font-size: 10pt;
	text-align: left;
	float: left;
}

.Print .Content .Data .Menu .ItemsList {
	text-align: left;
}

.Print .Content .Data .Menu .ItemsList .IEven {
	//margin-right: 15px;
	clear: left;
}

.Print .Content .Data .Menu .ItemsList .IOdd {
	//margin-left: 15px;
	position: relative;
	right: 0;
}

.Print .Content .Data .Menu .ItemsList .Item .IName {
	font-weight: bold;
	color: #121b17;
	float: left;
	padding: 0 0 0 10px;
	width: 280px;
	font-size: 15px;
	font-variant: small-caps;
	font-family: 'Arbutus Slab', Georgia, serif;
}

.Print .Content .Data .Menu .ItemsList .Item .IPrice {
	float: right;
	margin: 0px 10px 0 3px;
	max-width: 140px;
	text-align: right;
	font-size: 13px;
}

.Print .Content .Data .Menu .ItemsList .Item .IPrice span {
	font-weight: bold;
	color: #333;
	display: inline-block;
	width: 90px;
}

.Print .Content .Data .Menu .ItemsList .Item .IDesc {
	color: #ffedbd;
	text-align: justify;
	clear: left;
	font-size: 12px;
	padding: 3px 10px 4px 10px;
	width: 320px;
}

#RightSideBarBox {
	position: fixed;
	right: 0;
	top: 50%;
	margin-top: -140px;
}

#RightSideBarBox img {
	display: block;
	border: solid 0 red;
}
@media print {

#RightSideBarBox {
	display: none;
}
}

.Disclosure {
	font-size: 13px;
	color: #333;
	clear: both;
	margin-top: 25px;
	background: #EEE;
	padding: 4px;
	border: 1px solid #CCC;
	width: 470px;
	text-align: left;
}

.container {
	overflow: hidden;
}

.container:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.hide,
.hidden,
.hidden1,
.show0 {
	display: none;
}

.show,
.hidden0,
.show1 {
	display: block!important;
}

.inline,
.inline1 {
display:!important;
}

.__hiddeninline1,
.__showinline0 {
	display: none!important;
}

.clear {
	clear: both;
	display: block;
}

.clear1 {
	clear: both;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
}

.no-margin {
	margin: 0!important;
}

.no-padding {
	padding: 0!important;
}

.no-bg {
	background: none!important;
}

.a-left {
	text-align: left;
}

.a-center {
	text-align: center;
}

.a-right {
	text-align: right;
}

.va-top {
	vertical-align: top;
}

.va-bottom {
	vertical-align: bottom;
}

.d-block {
	display: block;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.f-none {
	float: none;
}

.p5 {
	padding: 5px;
}

.p10 {
	padding: 10px;
}

.m5 {
	margin: 5px;
}

.m10 {
	margin: 10px;
}

.border {
	border: 1px solid red;
}

.center {
	margin: 0 auto;
}

img.f-left {
	margin-right: 1em;
}

img.f-right {
	margin-left: 1em;
}

.bold {
	font-weight: bold;
}

.smallest {
	font-size: 9px;
}

.smaller {
	font-size: 10px;
}

.small {
	font-size: 11px;
}

.normal {
	font-size: 12px;
}

.large {
	font-size: 13px;
}

.larger {
	font-size: 14px;
}

.largest {
	font-size: 15px;
}

.max {
	font-size: 16px;
}

.red {
	color: #c80202;
}

.green {
	color: #0202c8;
}

.blue {
	color: #0202c8;
}

.white {
	color: #FFF;
}

.silver {
	color: #C0C0C0;
}

.gray {
	color: #808080;
}

.black {
	color: #000;
}

.bg_red {
	background-color: #fcc;
}

.bg_green {
	background-color: #cfc;
}

.bg_blue {
	background-color: #ccf;
}

.bg_white {
	background-color: #FFF;
}

.bg_silver {
	background-color: #C0C0C0;
}

.bg_gray {
	background-color: #808080;
}

.bg_black {
	background-color: #000;
}
