@media (max-width: 480px) {
	.wrapper {width: 100%;}
	.nav, .nav-item {visibility: hidden; opacity: 0; font-size: 13pt;}
	.nav_mobile_btn {visibility: visible; opacity: 1;}
	table {font-size: 14px;}
}



/*------------------o
|					|
|   ^^^ MOBILE ^^^	|
|					|
o- - - - - - - - - -o
|					|
|	vvv SMALL vvv	|
|					|
o------------------*/


@media (min-width: 481px) and (max-width: 600px) {
	.wrapper {width: 480px;}
	.nav {font-size: 13pt;}
}

@media (min-width: 601px) and (max-width: 700px) {
	.wrapper {width: 580px;}
}
@media (min-width: 701px) and (max-width: 780px) {
	.wrapper {width: 680px;}
}



@media (max-width: 780px) {
	.b33, .b50 {width: 100%;}
	.box, .box h2 {font-size: 13pt;}
	#logo {zoom: 0.8; margin: 0 auto;}
	.nav {top: 100px; width: 100%; padding: 0; border-radius: 0;	height: 60px;}
	.nav-item {line-height: 52px;}

}




/*------------------o
|					|
|	^^^ SMALL ^^^	|
|					|
o- - - - - - - - - -o
|					|
|	vvv LARGE vvv	|
|					|
o------------------*/



@media (min-width: 781px) {
	#logo {margin-top: 20px;}
}


@media (min-width: 781px) and (max-width: 1120px) {
	.wrapper {width: 90%;}
}


@media (min-width: 1121px) {
	.wrapper {width: 1100px;}
}
